<% unless @jobs.empty? %>
  <p>Total of <%= @jobs.count %> jobs</p>
  <table class="table table-hover table-sm">
    <thead class='thead-light'>
      <tr>
        <th scope="col">Année</th>
        <th scope="col">Type de contrat</th>
        <th scope="col">Emplois</th>
        <th scope="col">Effectif <i class="fas fa-mars"></i> (%)</th>
        <th scope="col">Effectif <i class="fas fa-venus"></i> (%)</th>
        <th scope="col">Indice de parité</th>
      </tr>
    </thead>
    <tbody>
      <%= render @jobs %>
    </tbody>
  </table>
<% else %>
  <div class="mt-4 d-flex justify-content-center lead">
    Veuillez importer un fichier pour ajouter des emplois dans la base de donnée.
  </div>
<% end %>
